<div class="user-wrap">
    <el-table :data="tableData">
        <template v-for="column in tableColumns">
            <el-table-column :label="column.label" :prop="column.prop">
            </el-table-column>
        </template>
        <el-table-column label="操作" prop="">
            <template slot-scope="scope">
                <el-button type="text" @click="onBtnDetailClick(scope.row)">详情</el-button>
                <el-button type="text">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>